*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color:#303030;
    color: #181818;
}

#form-container{
  display: flex;
  width: 350px;
  border: 1px solid grey;
  flex-direction: column;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  border-radius: 6px;
 
}
#form-container:hover{
    box-shadow: 0 0 0 3px rgba(157, 190, 37, 0.2);
    transition: all 200ms ease-out;
}
#form-container h2{
    display:flex;
    justify-content: center;
}
#form input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px;
}
#firstname, #lastname,#email, #password, #re-pass{
    border-radius: 6px;
}

.submit{
    width: 120px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 16px;
    border: none;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #04AA6D;
    color: #fff;
}

.formControl {
    margin-bottom: 8px;
    padding-bottom: 16px;
    position: relative;
  }
.formControl.success input{
    border-color: var(--success-color);
}
.formControl.error input {
    border-color: var(--error-color);
}

.formControl small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left:0;
    visibility: hidden; 
}
.formControl.error small{
    visibility: visible;
}

